<footer class="footer__section-container">
  {% if section.settings.logo != blank %}
    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
    <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
      <img
        src="{{ section.settings.logo | img_url: image_size }}"
        srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
        alt="{{ section.settings.logo.alt | default: shop.name }}"
        itemprop="logo"
      >
    </a>
  {% endif %}
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      }
    ]
  }
{% endschema %}
