{{ 'product.scss.css' | asset_url | stylesheet_tag }}

<div
  class="product__section-container"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  itemscope itemtype="http://schema.org/Product"
>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="product__title-container">
    <h1 class="product__title-container__title">
      Conquer Mount Storm King
    </h1>
    <span class="product__title-container__tagline">
      The ultimate adventure in Olympic National Park.
    </span>
  </div>

  <div class="product__display-grid">

    <div class="product__display-grid__col1">
      <div class="product__display-grid__infobox">
        <h3 class="product__display-grid__header">Location:</h3>
        <span class="product__display-grid__text">
          <a href="#">Olympic National Park, WA</a>
          <!-- {% raw %} {{ product.metafields.location }} {% endraw %} -->
        </span>
      </div>
      <div class="product__display-grid__infobox">
        <h3 class="product__display-grid__header">Duration:</h3>
        <span class="product__display-grid__text">
          $200 per person
          <!-- {% raw %} {{ product.metafields.ticketCost }} {% endraw %} -->
        </span>
      </div>
      <div class="product__display-grid__infobox">
        <h3 class="product__display-grid__header">Duration:</h3>
        <span class="product__display-grid__text">
          4 hours
          <!-- {% raw %} {{ product.metafields.duration }} {% endraw %} -->
        </span>
      </div>
      {%- include 'availability-calendar' -%}
    </div>

    <div class="product__display-grid__col2">
      {% if featured_image != blank %}
        <div class="product__hero-image">
          <img src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
        </div>
      {% endif %}
      <div class="product__display-grid__detailsbox">
        <h3 class="product__display-grid__header bottom-spacer-small">
          What We'll Do
        </h3>
        <p class="product__display-grid__text">
          Leverage agile frameworks to provide a robust synopsis for high level
          overviews. Iterative approaches to corporate strategy foster collaborative
          thinking to further the overall value proposition. Organically grow the
          holistic world view of disruptive innovation via workplace diversity and
          empowerment.
          {{ product | json }}
        </p>
      </div>
      <div class="product__display-grid__detailsbox">
        <h3 class="product__display-grid__header bottom-spacer-small">
          Where We'll Be
        </h3>
        <p class="product__display-grid__text">
          Bring to the table win-win survival strategies to ensure proactive
          domination. At the end of the day, going forward, a new normal that has
          evolved from generation X is on the runway heading towards a streamlined
          cloud solution. User generated content in real-time will have multiple
          touchpoints for offshoring.
        </p>
      </div>
      <div class="product__display-grid__detailsbox">
        <h3 class="product__display-grid__header bottom-spacer-small">
          Notes
        </h3>
        <p class="product__display-grid__text">
          Capitalize on low hanging fruit to identify a ballpark value added
          activity to beta test. Override the digital divide with additional
          clickthroughs from DevOps. Nanotechnology immersion along the
          information highway will close the loop on focusing solely on the
          bottom line.
        </p>
      </div>
      <div class="product__display-grid__detailsbox">
        <h3 class="product__display-grid__header bottom-spacer-small">
          The Host
        </h3>
        <div class="product__display-grid__hostbox">
          <div class="product__display-grid__host-image">

          </div>
          <p class="product__display-grid__text">
            Collaboratively administrate empowered markets via plug-and-play
            networks. Dynamically procrastinate B2C users after installed base
            benefits. Dramatically visualize customer directed convergence without
            revolutionary ROI.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Single Product",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Product",
        "category": "Product"
      }
    ]
  }
{% endschema %}
