{{ 'product.scss.css' | asset_url | stylesheet_tag }}

<div
  class="product__section-container"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
  itemscope itemtype="http://schema.org/Product"
>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
  {%- assign metadata = product.metafields.experiences -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="product__title-container">
    <h1 class="product__title-container__title">
      {{ product.title }}
    </h1>
    <span class="product__title-container__tagline">
      {{ product.description }}
    </span>
  </div>

  <div class="product__display-grid">

    <div class="product__display-grid__col1">
      <div class="product__display-grid__infobox">
        <h3 class="product__display-grid__header">Location:</h3>
        <span class="product__display-grid__text">
          <a href="#">
            {{ metadata.location }}
          </a>
        </span>
      </div>
      <div class="product__display-grid__infobox">
        <h3 class="product__display-grid__header">Cost:</h3>
        <span class="product__display-grid__text">
          {{ product.variants[0].price | money }} per person
          <!-- {% raw %} {{ product.metafields.ticketCost }} {% endraw %} -->
        </span>
      </div>
      <div class="product__display-grid__infobox">
        <h3 class="product__display-grid__header">Duration:</h3>
        <span class="product__display-grid__text">
          {{ metadata.duration }} minutes
          <!-- {% raw %} {{ product.metafields.duration }} {% endraw %} -->
        </span>
      </div>
      <div class="product__display-grid__divider"></div>
      <div class="product__dropdown-group">
        {%- include 'availability-calendar' -%}
        {%- include 'ticket-quantity' -%}
        <button id="book-event-button">Book</button>
      </div>
    </div>

    <div class="product__display-grid__col2">
      {% if featured_image != blank %}
        <div class="product__carousel-container">
          <div class="product__carousel-controls">
            <button class="product__carousel-prev">&#65513;</button>
            <button class="product__carousel-next">&#65515;</button>
          </div>
          <ol class="product__carousel-images">
            {%- for image in product.images -%}
              <li class="product__active-image">
                <img alt="{{ image.alt }}" src="{{ image.src | product_img_url: 'large' }}" />
              </li>
            {%- endfor -%}
          </ol>
        </div>
      {% endif %}
      <div class="product__display-grid__detailsbox">
        <h3 class="product__display-grid__header bottom-spacer-small">
          What is it
        </h3>
        <p class="product__display-grid__text">
          {{ metadata.description }}
        </p>
      </div>
      <div class="product__display-grid__detailsbox">
        <h3 class="product__display-grid__header bottom-spacer-small">
          Where we'll be
        </h3>
        <p class="product__display-grid__text">
          {{ metadata.locationDescription }}
        </p>
      </div>
      <div class="product__display-grid__detailsbox">
        <h3 class="product__display-grid__header bottom-spacer-small">
          Additional details
        </h3>
        <p class="product__display-grid__text" style="background: lightcoral;">
          Capitalize on low hanging fruit to identify a ballpark value added
          activity to beta test. Override the digital divide with additional
          clickthroughs from DevOps. Nanotechnology immersion along the
          information highway will close the loop on focusing solely on the
          bottom line.
        </p>
      </div>
      <div class="product__display-grid__detailsbox">
        <h3 class="product__display-grid__header bottom-spacer-small">
          The host
        </h3>
        <div class="product__display-grid__hostbox">
          {{ product.metafields.experiences.hostImage | img_tag: 'Host image', 'product__display-grid__host-image' }}
          <div class="product__display-grid__host-text product__display-grid__text">
            {{ metadata.hostDescription }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Single Product",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Product",
        "category": "Product"
      }
    ]
  }
{% endschema %}
