<div id="textsection">
  {%- assign collection = collections[section.settings.collection] -%}
  <div class="simpletext">
    {% if collection.title %}
      <h1> {{ collection.title }} </h1>
    {% else %}
      <h1> {{ section.settings.title }} </h1>
    {% endif %}
  </div>
  <div class="storefront__products-grid">
    {%- if collection.all_products_count > 0 -%}
      {%- for product in collection.all_products -%}
      <div class="storefront__product-container">
        {{ product.title }}
        <a href="{{ product.url }}">Visit Product</a>
        <div>
          <span>Metafields:</span>
          <span>{{ product.metafields.experiences | json }}</span>
        </div>
      </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
  <!-- {{ collection | json }} -->
  <!-- {{ collection.all_products_count }}
  {{ collection.all_products | json }} -->
</div>

{% schema %}
  {
    "name": "Product List",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Default Section Title"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "All Products"
      }
    ],
    "presets": [
      {
        "name": "Popular Experiences",
        "category": "Collection"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .storefront__products-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .storefront__product-container {
    height: 150px;
    width: 150;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 15px;
    margin: 20px;
  }

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
