{{ 'styles.scss.css' | asset_url | stylesheet_tag }}

<div id="textsection">
  {%- assign collection = collections[section.settings.collection] -%}
  <div class="simpletext">
    {% if collection.title %}
      <h1> {{ collection.title }} </h1>
    {% else %}
      <h1> {{ section.settings.title }} </h1>
    {% endif %}
    <p>
      Number of products available in "Popular Experiences" collection &ndash;
      {{ collection.all_products_count }}
    </p>
  </div>
  <div class="theme__products-grid">
    {%- if collection.all_products_count > 0 -%}
      {%- for product in collection.all_products -%}
      <div class="theme__product-container">
        {{ product | json }}
        {{ product.tags }}
        {{ product.title }}
        <a href="{{ product.url }}">Visit Product</a>
        <div>
          <span>Metafields:</span>
          <span>{{ product.metafields.experiences | json }}</span>
        </div>
      </div>
      {%- endfor -%}
    {%- endif -%}
  </div>
  <!-- {{ collection | json }} -->
  <!-- {{ collection.all_products_count }}
  {{ collection.all_products | json }} -->
</div>

{% schema %}
  {
    "name": "Product List",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Heading",
        "default": "Default Section Title"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "All Products"
      }
    ],
    "presets": [
      {
        "name": "Popular Experiences",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
